@import "tailwindcss";

:root {
  --background: #EFF4FC;
  --foreground: #171717;
  --navbar: #EFF4FC;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ededed;
  }
}

body {
  background: var(--background) !important;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.navbar {
  background-color: var(--navbar);
  /* Light gray background */
}